body{
    font-family: monaco;
    padding: 0;
    margin: 0;
}
div#button{
    background-color: #ded;
    /* width: 120px; */
    display: inline-block;
    margin: 200px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 2s;
}
div#button:hover{
    background-color: lime;
}
div#popupbox{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
div#popupboxcontent{
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    border-radius: 1px;
    height: 30px;
    width: 350px;
    padding: 10px;
}
